{% extends 'paginas/base.html' %}
{% load static %}

{% block title %}
<title>
    Lista de Campus
</title>
{% endblock %}

{% block card %}
<div class="container mt-5">
    <h2>
        Lista de Campus registrados
    </h2>
    <hr>
    <div class="table-responsive mt-5">
        <table class="table table-hover">
            <caption>
                <a href="{% url 'cadastrar-campus' %}" class="btn btn-outline-info btn-sm">Novo Campus</a>
            </caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Cidade</th>
                    <th>Telefone</th>
                    <th>Servidor</th>
                    <th>Opções</th>
                </tr>
            </thead>
            {% for campus in object_list %}
            <tr>
                <td>{{ campus.pk }}</td>
                <td>{{ campus.nome }}</td>
                <td>{{ campus.cidade }}</td>
                <td>{{ campus.telefone }}</td>
                <td>{{ campus.servidor }}</td>
                <td>
                    <a href="{% url 'editar-campus' campus.pk %}" class="btn btn-warning btn-sm" title="Editar">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'delete-campus' campus.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">
                    Nenhuma campus registrado
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}